{% extends 'master.html' %} {% block content %}

<div>
    <h4>DEPARTMENTS</h4>
    {% with errs = get_flashed_messages() %}  
         {% if errs %}  
               {% for err in errs %}  
                <p class="text-center my-4 text-red-600 text-sm err">{{err}}</p>
               {% endfor %}  
         {% endif %}  
        {% endwith %}  

    <div class="flex justify-end my-8">
        <button class="rounded-lg border border-red-600 px-2 py-1 text-red-600 modal-open">Add</button>
    </div>

    <div>
        <table class="table-auto w-full">
            <thead>
                <tr class="">
                    <th class="px-6 py-3">No.</th>
                    <th class="px-6 py-3">Department Name</th>
                    <th class="px-6 py-3">Doctors</th>
                    <th class="px-6 py-3">Date Registered</th>
                </tr>
            </thead>
            <body style="text-align: left;">
                {% for i in deps: %}
                {% if loop.index%2==0 %}
                <tr class="bg-gray-100">
                    <td class="px-6 py-2">{{loop.index}}</td>
                    <td class="px-6 py-2">{{i.name}}</td>
                    <td class="px-6 py-2">{{i.doctors|length}}</td>
                    <td class="px-6 py-2">{{i.date_registerd}}</td>
                </tr>
                {% else %}
                <tr>
                    <td class="px-6 py-2">{{loop.index}}</td>
                    <td class="px-6 py-2">{{i.name}}</td>
                    <td class="px-6 py-2">{{i.doctors|length}}</td>
                    <td class="px-6 py-2">{{i.date_registerd}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </body>
        </table>
    </div>

    <!-- Modal for add -->
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
        
        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
          
          <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
            <span class="text-sm">(Esc)</span>
          </div>
    
          <!-- Add margin if you want to see some of the overlay behind the modal-->
          <div class="modal-content py-4 text-left px-6">
            <!--Title-->
            <div class="flex justify-between items-center pb-3">
              <p class="text-2xl font-bold">Add Department</p>
              <div class="modal-close cursor-pointer z-50">
                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
              </div>
            </div>
    
            <form action="departments/add" method="post">
                    <!--Body-->
                <div class="flex flex-col justify-center">
                    <label for="doctors">Department Name:</label>
                    <input type="text" name="department" placeholder="Name" required class="border border-gray-300 mt-1 px-2 py-1 rounded">
                </div>
        
                <!--Footer-->
                <div class="flex justify-end mt-5">
                <button class="px-4 rounded-lg bg-red-600 px-2 py-1 mr-2 text-white" type="submit">Save</button>
                <button class="modal-close p-2 text-grey-500">Close</button>
                </div>
            </form>
            
          </div>
        </div>
      </div>

</div>

</div>

{% endblock %}