<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <title>404 Page Not Found</title>
</head>
<body>
    <div class="flex flex-col h-screen justify-center items-center">
         <div class="flex justify-center items-center">
            <i class="fa fa-exclamation-circle" style="font-size: 3em;"></i>
            <h4 class="text-6xl ml-4">404</h4>
         </div>
        
        <p class="text-xl">Page Not Found</p>
        <a href="/" class="bg-red-600 mt-12 text-white py-1 px-2 rounded-sm shadow-xs">Go to Home</a>
    </div>
</body>
</html>