{% extends 'master.html' %} {% block content %}

<div>
    <h4>HOME PAGE</h4>
    <div class="flex md:flex-row flex-col mt-16">
        <div class="rounded-sm shadow-xs flex flex-col p-4 m-2 text-yellow-500">
            <div class="flex justify-between items-center mb-3">
                <i class="fa fa-list-alt" style="font-size: 3em; margin-right: 1.8em;"></i>
                <p class="text-4xl">34</p>
            </div>
            <p class="text-lg">Appointments</p>
        </div>
        <div class="rounded-sm shadow-xs flex flex-col p-4 m-2 text-blue-500">
            <div class="flex justify-between items-center mb-3">
                <i class="fa fa-list-alt" style="font-size: 3em; margin-right: 1.8em;"></i>
                <p class="text-4xl">34</p>
            </div>
            <p class="text-lg">Departments</p>
        </div>
        <div class="rounded-sm shadow-xs flex flex-col p-4 m-2 text-green-500">
            <div class="flex justify-between items-center mb-3">
                <i class="fa fa-wheelchair" style="font-size: 3em; margin-right: 1.8em;"></i>
                <p class="text-4xl">34</p>
            </div>
            <p class="text-lg">Patients</p>
        </div>
        <div class="rounded-sm shadow-xs flex flex-col p-4 m-2 text-red-500">
            <div class="flex justify-between items-center mb-3">
                <i class="fa fa-user-md" style="font-size: 3em; margin-right: 1.8em;"></i>
                <p class="text-4xl">34</p>
            </div>
            <p class="text-lg">Doctors</p>
        </div>
    </div>
</div>

{% endblock content %}